.editor-container {
  width: 100%;
  background-color: hsl(225, 6%, 25%);
  border: 1px solid white;
  border-radius: 5px;
}
.pane {
  height: 50vh;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.editor-holder {
  display: flex;
  flex-direction: column;
}
.title-container {
  display: flex;
  background-color: turquoise;
}
.expand-collapse-btn {
  margin-left: auto;
}
